.custom-container {
  max-width: 1420px;
  margin: auto;

  align-items: center;
}

.layout {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr 1fr;
}

.custom-phone-box {
  display: flex;
  position: absolute;
  align-items: center;
  right: 0;
  z-index: -100;
  gap: 10px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.hidden {
  display: none;
}

.custom-phone-box.custom-hidden {
  opacity: 0;
  display: none;
}

.expand-elements {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.custom-header-elem__search {
  display: flex;
  position: absolute;
  left: 10px;

  background-color: white;
  align-items: center;
  position: relative;
  transition: flex-grow 0.3s ease, width 0.3s ease;
}

.custom-header-elem__search input {
  border: 2px solid #00317d;
  border-radius: 50px;
  padding: 15px 30px 15px 10px;
  width: 350px;
  transition: width 0.3s ease;
}

.custom-header-elem__search i {
  position: absolute;
  right: 10px;
  color: #00317d;
  font-size: 27px;
}

/* Expand search bar on focus */
.custom-header-elem__search input:focus {
  width: 40vw; /* Adjust this based on your layout */
}

.custom-header-elem {
  width: 100%;
  height: 150px;
  display: flex;
  gap: 20px;
  align-items: center;
  &__logo {
    display: flex;
    align-items: center;
    gap: 20px;
    & > img {
      width: 80px;
      height: 110px;
    }
  }
  &__btn {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    padding: 0px 22px;
    border-radius: 60px;
    border: 2px solid $darkblue;
    font-size: 32px;
    font-weight: 400;
    font-family: $font-family;
    color: $darkblue;
    background: transparent;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
    & > i {
      font-size: 24px;
    }
    & > span {
      font-size: 24px;
    }
  }
  &__btn:hover {
    color: white;
  }
  &__btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    left: unset;
    right: 0;
    border-radius: 60px;
    width: 0%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
    transition: 0.4s all ease-in-out 0s;
  }

  &__btn:hover::before {
    left: 0;
    right: unset;
    width: 100%;
  }
  &__btn:hover .bx {
    transition: color 0.3s;
  }
}

.custom-company {
  font-size: 24px;
  color: $black;
  font-weight: 400;
  font-family: $font-family;
}

.custom-phone-box {
  display: flex;
  align-items: center;
  right: 50px;
  gap: 10px;
  &__icon {
    height: 48px;
    width: 48px;
  }
  &__numbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__numbers > a {
    font-size: 24px;
    color: #000;
    font-family: $font-family;
  }
}

.custom-two-buttons {
  display: flex;
  gap: 10px;
}

.custom-translate-btn {
  padding: 15px 16px;
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  border-radius: 60px;
  border: 2px solid $darkblue;
  font-size: 24px;
  font-weight: 400;
  font-family: $font-family;
  color: $darkblue;
  background: transparent;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}
.custom-translate-btn:hover {
  color: white;
}
.custom-translate-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  left: unset;
  right: 0;
  border-radius: 60px;
  width: 0%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
  transition: 0.4s all ease-in-out 0s;
}

.custom-translate-btn:hover::before {
  left: 0;
  right: unset;
  width: 100%;
}

.bx {
  padding: 15px 0px;
  font-size: 32px;
}

// BASKET

.basket {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  z-index: 100;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.911);
}

.basket-hidden {
  display: none;
}

.basket-box {
  display: flex;
  border-radius: 20px;
  width: 80%;
  flex-direction: column;
  background-color: white;
  margin: 50px;
}
.basket-header {
  display: flex;
  width: 100%;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  & > h2 {
    font-size: 32px;
    font-family: $font-family;
    font-weight: 500;
  }
  & > i {
    font-size: 32px;
  }
}

.basket-container {
  overflow-y: scroll;
}
input[type="checkbox"] {
  width: 36px;
  height: 36px;
  border: 2px solid #00317d;
  border-radius: 10px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #00317d;
  border-color: #00317d;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 24px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}
.basket-card {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px;
  & > img {
    height: 185px;
    width: 196px;
    border-radius: 20px;
  }
}
.box-two-elements {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  & > p {
    font-size: 24px;
    font-weight: 400;
    font-family: $font-family;
  }
}

.basket-prod-name {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.basket-two-elements {
  align-items: center;
  display: flex;
  justify-content: space-between;
  & > p {
    font-size: 24px;
    font-weight: 500;
    font-family: $font-family;
  }
  & > span {
    display: flex;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    font-family: $font-family;
    align-items: center;
    gap: 15px;
    & > button {
      padding: 15px 16px;
      position: relative;
      display: flex;
      gap: 10px;
      flex-direction: row;
      align-items: center;
      border-radius: 20px;
      border: 2px solid $darkblue;
      font-size: 24px;
      font-weight: 400;
      font-family: $font-family;
      color: $darkblue;
      z-index: 1;
      background: transparent;
      overflow: hidden;
      transition: background-color 0.3s, color 0.3s;
      &:hover {
        color: white;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        left: unset;
        right: 0;
        border-radius: 20px;
        width: 0%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
        transition: 0.4s all ease-in-out 0s;
      }
      &:hover::before {
        left: 0;
        right: unset;
        width: 100%;
      }
      &:hover .fa-trash {
        transition: color 0.3s;
      }
    }
    & > h3 {
      font-size: 24px;
      font-family: $font-family;
      font-weight: 500;
    }
  }
}

#amount-input {
  width: 60%; /* Adjust the width as needed */
  padding-right: 30px; /* Space for the "pcs/L" text */
  position: relative;
  box-sizing: border-box;
  font-size: 24px;
  padding-right: 20px;
  border-radius: 20px;
  border: none;
}

.amount-input-container {
  position: relative;
  width: 23%;
  border: 2px solid gray;
  border-radius: 20px;
}

.amount-input-container::after {
  content: "pcs/L";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Ensures the text is not clickable */
  font-size: 24px; /* Adjust font size as needed */
}

.basket-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  & > span {
    font-size: 40px;
    font-weight: 500;
    font-family: $font-family;
    display: flex;
    gap: 20px;
  }
  & > button {
    font-size: 40px;
    font-family: $font-family;
    font-weight: 700;
    padding: 15px 109px;
    background: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
    color: white;
    border: none;
    border-radius: 10px;
  }
}
// main

.top-sales-box {
  margin-top: 100px;
  display: flex;
  grid-column: 2 / 5;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin-bottom: 200px;
  & > h1 {
    font-size: 40px;
    color: #000;
    font-family: $font-family;
    font-weight: 500;
    padding-left: 70px;
  }
}

.top-sales-cards {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  flex-direction: column;
}

.top-prod-card {
  display: flex;
  border-radius: 20px;
  gap: 15px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.226);
  width: 90%;

  padding: 15px;
}

.top-prod-descr {
  display: flex;
  flex-direction: column;
  color: #000;
  gap: 5px;
  width: 100%;
}

.top-two-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > h2 {
    font-size: 32px;
    font-weight: 500;
    font-family: $font-family;
  }
}

.custom-add-to-basket-btn {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;
  border-radius: 20px;
  border: 2px solid $darkblue;
  font-size: 24px;
  font-weight: 400;
  font-family: $font-family;
  color: $darkblue;
  background: transparent;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.3s, color 0.3s;

  i {
    padding: 15px 0px;
    font-size: 24px;
  }

  span {
    font-size: 24px;
  }

  &:hover {
    color: $white;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    left: unset;
    right: 0;
    border-radius: 15px;
    width: 0%;
    height: 100%;
    z-index: -1;
    background: $gradient;
    transition: 0.4s all ease-in-out 0s;
  }

  &:hover::before {
    left: 0;
    right: unset;
    width: 100%;
  }

  &:hover .bx {
    transition: color 0.3s;
  }
}

// FILTER
.custom-filter {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  grid-column: 2 / 5;
  width: 22%;
  position: fixed;
  top: 155px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.226);
  font-family: "Montserrat", sans-serif;

  h2 {
    color: $darkblue;
    font-size: 32px;
    display: flex;
    font-weight: 500;
    font-family: $font-family;
    color: #000;
  }

  span {
    display: block;
    margin-bottom: 20px;

    h4 {
      color: $lightblack;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    input[type="number"] {
      width: 100%;
      padding: 10px;
      border: 2px solid #ccc;
      border-radius: 20px;
      border-radius: 4px;
      font-family: $font-family;
      &:focus {
        border: 2px solid $darkblue;
      }
    }
  }

  .filter-h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #close-icon {
    background: transparent;
    border: none;
  }

  .custom-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .custom-input-suffix {
      position: absolute;
      right: 10px;
      color: $lightblack;
      font-family: $font-family;
    }
  }

  .custom-filter-price,
  .custom-filter-deadline {
    display: flex;
    align-items: center;

    .custom-filter-line {
      width: 20px;
      height: 1px;
      background-color: $darkblue;
      margin: 0 10px;
    }
  }

  .custom-filter-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .custom-btn {
      padding: 10px 20px;
      border: 2px solid $darkblue;
      border-radius: 60px;
      font-size: 16px;
      font-weight: 400;
      font-family: $font-family;
      color: $darkblue;
      background: transparent;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      overflow: hidden;
      position: relative;

      &:hover {
        color: $white;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        left: unset;
        right: 0;
        border-radius: 60px;
        width: 0%;
        height: 100%;
        z-index: -1;
        background: $gradient;
        transition: 0.4s all ease-in-out 0s;
      }

      &:hover::before {
        left: 0;
        right: unset;
        width: 100%;
      }
    }
  }
}

.custom-filter-buttons .custom-btn:nth-child(2) {
  background: $gradient;
  color: white;
}

// HEADER ANIMATION-------//

@keyframes headerShow {
  to {
    transform: translateY(0px);
  }
}

// product description page
.product-container {
  display: flex;
  margin-top: 95px;
  align-items: center;
  gap: 20px;
  & > img {
    width: 522px;
    height: 486px;
  }
  & > div {
    display: flex;
    width: 100%;
    flex-direction: column;
    & > h2 {
      font-size: 40px;
      font-weight: 500;
      font-family: $font-family;
    }
  }
}

.product-two-elements {
  display: flex;
  justify-content: space-between;
  & > span {
    display: flex;
    align-items: center;
    width: 100%;
    & > div {
      display: flex;
      padding: 5px;
      align-items: center;
      border-radius: 10px;
      width: 20%;
      border: 2px solid rgba(0, 0, 0, 0.226);
      & > input {
        border: none;
        width: 100%;
        font-size: 24px;
      }
      & > p {
        font-size: 24px;
        font-weight: 400;
        font-family: $font-family;
      }
    }
  }
  & > button {
    display: flex;
    align-items: center;
    width: 30%;
    gap: 2px;
    justify-content: center;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 400;
    border: 2px solid #00317d;
    color: #00317d;
    background: transparent;
  }
}
.product-two-elements > span i {
  cursor: pointer;
  margin: 0 5px;
  font-size: 25px;
  color: #00317d;
}
.product-two-elements > span i.disabled {
  cursor: not-allowed;
  color: grey;
}

.product-description {
  display: flex;
  position: relative;
  flex-direction: column;

  gap: 17px;
  & > h4 {
    font-size: 32px;
    font-weight: 500;
    z-index: 2;
    font-family: $font-family;
  }
  & > p {
    font-size: 24px;
    font-weight: 400;
    height: 150px;
    overflow: hidden;
    font-family: $font-family;
    color: gray;
    transition: 0.5s ease;
    margin-bottom: 200px;
    &:hover {
      height: 300px;
    }
  }
}

@media (max-width: 1880px) {
  .custom-header-elem__search input:focus {
    width: 42vw;
  }
}

@media (max-width: 1720px) {
  .custom-container {
    max-width: 1400px;
  }
  .custom-header-elem__search input:focus {
    width: 45vw;
  }
}

@media (max-width: 1600px) {
  .custom-container {
    max-width: 1140px;
  }
  .custom-header-elem__search input {
    width: 270px;
  }
  .custom-header-elem__search input:focus {
    width: 42vw;
  }
  .custom-header-elem {
    height: 130px;
    &__btn {
      font-size: 19px;
      & > span {
        display: none;
      }
    }
  }

  .custom-company {
    display: none;
  }
  .custom-filter {
    top: 135px;
  }
  .product-two-elements > span > div {
    width: 30%;
  }
  .product-two-elements > button {
    width: 40%;
    gap: 10px;
  }
}
@media screen and (max-width: 1490px) {
  .custom-header-elem__search input:focus {
    width: 44vw;
  }
  .custom-phone-box {
    right: 60px;
  }
  .custom-phone-box__numbers > a {
    font-size: 20px;
  }
  input[type="number"] {
    font-size: 16px;
  }
  .top-sales-box > h1 {
    font-size: 32px;
  }

  .top-two-elements > h2 {
    font-size: 24px;
  }
  .custom-add-to-basket-btn {
    font-size: 20px;
    padding: 0px 10px;
  }
  .custom-filter {
    top: 140px;
  }
}
@media (max-width: 1370px) {
  .custom-header-elem {
    height: 130px;
    &__btn {
      font-size: 19px;
      & > span {
        display: none;
      }
    }
  }
  .custom-header-elem__search input {
    width: 350px;
  }
  .custom-header-elem__search input:focus {
    width: 50vw;
  }

  .custom-phone-box {
    right: 20px;
  }

  // card
  .top-sales-box {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .top-two-elements > h2 {
    font-size: 20px;
  }
  .custom-add-to-basket-btn {
    font-size: 16px;
    padding: 0px 5px;
  }
  // filter

  .custom-filter {
    padding: 10px;
    top: 130px;
    & > h2 {
      margin-bottom: 0px;
    }
    & > span > h4 {
      font-size: 16px;
    }
  }
  .filter-h2 > h2 {
    font-size: 24px;
  }

  .custom-phone-box__icon {
    height: 40px;
    width: 40px;
  }

  // BASKET
  .basket-header {
    & > h2 {
      font-size: 24px;
    }
    & > i {
      font-size: 24px;
    }
  }

  // product page style
  .product-two-elements {
    padding: 0;
    & > button {
      width: 50%;
      gap: 10px;
    }
  }
  .product-description > p {
    font-size: 19px;
    font-weight: 400;
    height: 100px;
  }
  .basket-card {
    gap: 10px;
  }

  .basket-footer {
    & > span {
      font-size: 32px;
    }
    & > button {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .custom-container {
    max-width: 990px;
  }
  .custom-header-elem {
    height: 130px;
    &__btn {
      font-size: 19px;
    }
  }
  .expand-elements {
    align-items: center;
  }
  .custom-header-elem__search input {
    width: 200px;
  }

  .custom-header-elem__search input:focus {
    width: 45vw;
  }
  .custom-phone-box {
    right: 10px;
  }
  .custom-header-elem__logo > img {
    width: 95px;
    height: 100px;
  }

  .custom-header-elem__btn {
    font-size: 22px;
    padding: 0px 20px;
  }

  .custom-company {
    font-size: 22px;
    display: block;
  }

  // filter
  .custom-filter > span > h4 {
    font-size: 16px;
  }

  .custom-filter {
    span {
      display: block;
      margin-bottom: 0px;
    }
  }

  .filter-h2 > h2 {
    font-size: 24px;
  }

  .custom-phone-box__icon {
    height: 40px;
    width: 40px;
  }

  .custom-filter-deadline,
  .custom-filter-price {
    flex-direction: column;
    gap: 5px;
  }

  .custom-filter-line {
    display: none;
  }
  // product page
  .product-container > div > h2 {
    font-size: 32px;
  }
  .product-two-elements > span > div {
    width: 40%;
    padding: 0px 5px;
    gap: 0px;
    & > input {
      font-size: 24px;
    }
    & > p {
      font-size: 24px;
    }
  }
  .product-two-elements {
    padding: 0;
    & > button {
      width: 60%;
      padding: 10px 5px;
    }
  }
  // BASKET
  .basket-header > h2 i {
    font-size: 19px;
  }
  .basket-card {
    gap: 5px;
  }
  .amount-input-container::after {
    font-size: 19px;
  }
  .amount-input-container {
    width: 25%;
  }
  .basket-two-elements {
    > span {
      & > h3 {
        font-size: 19px;
      }
      & > button {
        font-size: 19px;
      }
    }
  }

  .box-two-elements {
    & > p {
      font-size: 19px;
    }
  }

  .basket-two-elements {
    & > span {
      font-size: 19px;
    }
  }

  .basket-footer {
    & > span {
      font-size: 20px;
      gap: 5px;
    }
    & > button {
      font-size: 20px;
    }
  }
  footer {
    height: 750px;
  }

  .footer-elements > div > span > h3 {
    font-size: 36px;
  }

  .footer-elements > div > span > a {
    font-size: 22px;
  }
}

@media screen and (max-width: 992px) {
  .custom-header-elem {
    height: 110px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .custom-header-elem__logo {
    gap: 15px;
    & > img {
      width: 85px;
      height: 90px;
    }
  }

  .custom-header-elem__btn {
    font-size: 20px;
    padding: 16px 18px;
  }

  .custom-company {
    font-size: 20px;
  }

  .custom-phone-box__icon {
    height: 35px;
    width: 35px;
  }

  .custom-phone-box__numbers > a {
    font-size: 20px;
  }

  footer {
    height: 650px;
  }

  .footer-elements > div > span > h3 {
    font-size: 32px;
  }

  .footer-elements > div > span > a {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .custom-header-elem {
    height: 100px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .custom-header-elem__logo {
    gap: 10px;
    & > img {
      width: 75px;
      height: 80px;
    }
  }

  .custom-header-elem__btn {
    font-size: 18px;
    padding: 14px 16px;
  }

  .custom- company {
    font-size: 18px;
  }

  .custom-phone-box {
    flex-direction: column;
    gap: 5px;
    align-items: center;
    &__numbers {
      align-items: center;
      text-align: center;
    }
  }

  footer {
    height: 550px;
  }

  .footer-elements {
    padding-top: 400px;
  }

  .footer-elements > div {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }

  .footer-elements > div > span {
    width: auto;
    padding-left: 0;
  }

  .footer-elements > div > a {
    border-right: none;
  }

  .footer-elements > div > span > h3 {
    font-size: 28px;
  }

  .footer-elements > div > span > a {
    font-size: 18px;
  }

  .footer-elements > h5 {
    font-size: 18px;
  }
}
