@import "./header";

// fonts
$font-family: "Montserrat", sans-serif;
$second-family: "Inter", sans-serif;
$Cunia-family: "Cunia", sans-serif;

.main-create-acc {
  padding-inline: 20px;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  align-items: center;
  padding-bottom: 50px;
}

.left-side {
  justify-self: center;
  padding-top: 170px;
  padding-inline: 20px;
}

.steps-indic {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  & > h2 {
    color: white;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
    animation: shadow-pulse 2s infinite;
  }
  & > span {
    font-size: 24px;
    font-family: $font-family;
    font-weight: 400;
    color: black;
  }
}
@keyframes shadow-pulse {
  0%,
  100% {
    box-shadow: 0 0 10px 5px rgb(48, 128, 155);
  }
  50% {
    box-shadow: none;
  }
}

.line {
  margin: 15px 0px;
  width: 2px;
  height: 84px;
  background: #d9d9d9;
}

.create-acc {
  width: 846px;
  padding-top: 50px;
  gap: 50px;
  align-self: self-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  &_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
  &_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    & > h2 {
      font-family: $font-family;
      font-size: 40px;
      width: 80%;
      font-weight: 700;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  color: black;
  width: 305px;
  height: 70px;
  background: transparent;
  border: none;
  font-size: 32px;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.active {
  background: -webkit-linear-gradient(top, #17bff0, #00317d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: solid #00317d;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  & > h2 {
    color: white;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background: -webkit-linear-gradient(top, #17bff0, #00317d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #00317d;
  }
  & > span {
    font-size: 24px;
    font-family: $font-family;
    font-weight: 400;
    color: black !important;
  }
}

.btn-creat-acc {
  padding: 10px 15px;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  font-family: $font-family;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
}

.input-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  &_set-up-account {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    & > h3 {
      font-size: 32px;
      padding-bottom: 30px;
      font-weight: 500;
      font-family: $font-family;
    }
  }
  & > h3 {
    font-weight: 500;
    font-size: 32px;
    padding-bottom: 30px;
    font-family: $font-family;
  }
  & > input {
    margin-bottom: 20px;
  }
}

.two-elements {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  & > button {
    width: 50%;
    font-size: 24px;
    grid-column: 2;
    font-family: $font-family;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
  }
}

//LOGIN

#content {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.login {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.login_buttons {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button {
  width: 305px;
  height: 70px;
}

.login_box {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  & > h2 {
    text-align: start;
    font-size: 40px;
    font-weight: 700;
  }
}

.input-box > span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  & > h3 {
    font-weight: 500;
    font-size: 32px;
    font-family: $font-family;
  }
  & > a {
    font-size: 19px;
    font-family: $font-family;
    background: -webkit-linear-gradient(top, #17bff0, #00317d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.email-verification {
  display: flex;
  align-items: center;
  width: 100%;
  & > input {
    width: 100%;
  }
}

.btn-sign-in {
  padding: 10px 15px;
  font-size: 32px;
  width: 80%;
  text-align: center;
  font-weight: 700;
  font-family: $font-family;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
}

//forgot password

.hidden {
  display: none;
}

.forgot-password {
  padding-top: 100px;
  grid-column: 2;
}

.reset {
  display: flex;
  flex-direction: row;
  padding-left: 45px;
  gap: 20px;
  align-items: center;
  padding-bottom: 25px;
  & > h1 {
    font-size: 40px;
    color: black;
  }
}

.forgot-elements {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  & > p {
    width: 80%;
    font-size: 24px;
    font-weight: 400;
    color: #555555;
    font-family: $font-family;
  }
}

.forgot-password-input {
  display: flex;

  flex-direction: column;
  &_set-up-account {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  & > h3 {
    font-weight: 500;
    font-size: 32px;
    padding: 30px 0;
    font-family: $font-family;
  }
  & > input {
    margin-bottom: 20px;
  }
}
#send-code {
  height: 46px;
  padding: 5px 66px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-family: $font-family;
  border: none;
  color: white;
  cursor: pointer;
  background: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
}

.f-two-elem {
  display: flex;
  gap: 20px;
}
//errors

.error {
  position: absolute;
  margin-top: 65px;
  font-size: 16px;
  font-family: $font-family;
  color: red;
  padding: 2px 0px;
}

.error-icon {
  margin-left: 6px;
  color: red;
}

.success-icon {
  margin-left: 6px;
  color: rgb(8, 148, 8);
}

.inp {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  font-size: 24px;
  background-color: white;

  margin-bottom: 18px;
  &::placeholder {
    color: $lightblack;
    text-align: center;
    font-size: 24px;
  }
  & > input {
    width: 100%;
    border: 2px solid rgb(155, 155, 155);
    &:focus {
      border: 2px solid #00317d;
    }
  }
}

.email-verification {
  & > input {
    width: 100%;
    border: 2px solid rgb(155, 155, 155);

    &:focus {
      border: 2px solid #00317d;
    }
  }
}

.f-btn-creat-acc {
  padding: 10px 15px;
  font-size: 32px;
  text-align: center;

  font-weight: 700;

  font-family: $font-family;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
}

@media (max-width: 1440px) {
  .main-create-acc {
    grid-template-columns: 1fr 2fr;
    padding-right: 140px;
  }
  .input-box {
    width: 80%;
  }
  .create-acc {
    width: 100%;
  }
  .button {
    width: 100%;
    font-size: 28px;
  }
  .btn-creat-acc {
    width: 100%;
    font-size: 32px;
  }
  .steps > h2 {
    font-size: 42px;
    height: 60px;
    width: 60px;
  }
  .steps > span {
    font-size: 22px;
  }

  .login_box > h2 {
    font-size: 32px;
  }

  .reset > h1 {
    font-size: 32px;
  }

  .forgot-elements > p {
    font-size: 16px;
  }
}

/* Tablets */
@media (max-width: 1024px) {
  .main-create-acc {
    grid-template-columns: 1fr 2fr;
  }
  .create-acc {
    width: 100%;
  }
  .button {
    width: 100%;
    font-size: 28px;
  }
  .btn-creat-acc {
    width: 100%;
    font-size: 32px;
  }
  .steps > h2 {
    font-size: 36px;
    height: 60px;
    width: 60px;
  }
  .steps > span {
    font-size: 20px;
  }
}

/* Mobile Phones */
@media (max-width: 768px) {
  .main-create-acc {
    padding-inline: 10px;
    padding-bottom: 30px;
  }
  .left-side {
    padding-top: 100px;
    padding-inline: 10px;
  }
  .create-acc {
    gap: 30px;
  }
  .button {
    width: 100%;
    font-size: 24px;
  }
  .btn-creat-acc {
    width: 100%;
    font-size: 28px;
  }
  .steps > h2 {
    font-size: 30px;
    height: 50px;
    width: 50px;
  }
  .steps > span {
    font-size: 18px;
  }
  .input-box_set-up-account > h3,
  .input-box > h3 {
    font-size: 24px;
  }
  .inputs {
    font-size: 16px;
  }
}
