$darkblue: #00317d;
$skyblue: #0384d8;
$oceanblue: #17bff0;
$black: #000;
$lightblack: #555555;
$gradient: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
$white: #ffffff;

// fonts
$font-family: "Montserrat", sans-serif;
$second-family: "Inter", sans-serif;
$Cunia-family: "Cunia", sans-serif;
h1 {
  font-family: $Cunia-family;
  color: $darkblue;
}
h2 {
  font-family: $Cunia-family;
  font-size: 64px;
  font-weight: 700;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
}

.back-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1420px;
  margin: auto;
}

header {
  box-shadow: 0 5px 20px $black;
}

.header-elem {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__logo {
    display: flex;
    align-items: center;
    gap: 20px;
    & > img {
      width: 105px;
      height: 110px;
    }
  }
  &__btn {
    position: relative;
    align-items: center;
    padding: 20px 22px;
    border-radius: 60px;
    border: 2px solid $darkblue;
    font-size: 24px;
    font-weight: 400;
    font-family: $font-family;
    color: $darkblue;
    background: transparent;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
  }
  &__btn:hover {
    color: white;
  }
  &__btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    left: unset;
    right: 0;
    border-radius: 60px;
    width: 0%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
    transition: 0.4s all ease-in-out 0s;
  }

  &__btn:hover::before {
    left: 0;
    right: unset;
    width: 100%;
  }
  &__btn:hover .bx {
    transition: color 0.3s;
  }
}

.company {
  font-size: 24px;
  color: $black;
  font-weight: 400;
  font-family: $font-family;
}

.phone-box {
  display: flex;
  align-items: center;
  gap: 10px;
  &__icon {
    height: 48px;
    width: 48px;
  }
  &__numbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__numbers > a {
    font-size: 24px;
    color: #000;
    font-family: $font-family;
  }
}

.what-v-do {
  padding-top: 210px;
  position: absolute;
  z-index: 2;
  & > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  &__line {
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background: $gradient;
  }
  & > span > h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: $font-family;
  }
  & > span > h3 > span {
    background: linear-gradient(to bottom, #17bff0, #00317d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  & > h1 {
    font-size: 64px;
  }
  & > p {
    margin-top: 35px;
    font-size: 24px;
    font-family: $font-family;
    font-weight: 400;
    width: 738px;
    line-height: 29px;
    color: $lightblack;
  }
  &__elements {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  &__btn {
    align-items: center;
    padding: 20px 22px;
    border-radius: 60px;
    gap: 10px;
    border: 2px solid $darkblue;
    font-size: 24px;
    font-weight: 400;
    font-family: $font-family;
    color: $white;
    background: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }

  &__btn:hover {
    background: $white;
    color: #00317d;
    transition: color 0.5s ease-in;
  }
  &__numbers {
    display: flex;
    align-items: center;
    gap: 20px;
    & > img {
      height: 48px;
      width: 48px;
    }
  }
  &__tell {
    display: flex;
    flex-direction: column;
    gap: 20px;
    & > p {
      font-size: 32px;
      font-family: $font-family;
      font-weight: 500;
    }
    & > a {
      font-size: 24px;
      font-weight: 400;
      font-family: $font-family;
      color: $black;
    }
  }
}

.what-v-do2 {
  position: relative;
  background: transparent;
  padding-top: 280px;
  &_elements {
    display: flex;
    flex-direction: row;
    gap: 100px;
    & > img {
      width: 413px;
      height: 543px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 60px;

    & > h2 {
      font-size: 64px;
      font-family: $Cunia-family;
      font-weight: 700;
      color: $white;
    }
    & > h3 {
      font-size: 40px;
      font-weight: 700;
      font-family: $font-family;
      color: $white;
    }
    & > p {
      font-size: 32px;
      font-family: $font-family;
      font-weight: 500;
      width: 738px;
      color: $white;
    }
  }
}

.wave-back {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 160vh;
}

.wave-back::before {
  content: "";
  position: absolute;
  border-radius: 60px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(/images/back-images/union.svg) no-repeat center;
  background-size: cover;
}

.fast-way {
  margin-top: -500px;
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  &__text {
    display: flex;
    flex-direction: column;
    gap: 66px;
    & > h2 {
      color: $black;
      font-size: 54px;
      font-weight: 700;
    }
    & > h2 > span {
      background: linear-gradient(to left, #17bff0, #00317d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

.list-dude {
  width: 700px;
  height: 739px;
  padding-top: 0px;
}

.our-mission {
  padding-top: 170px;
  position: relative;

  &__back {
    display: flex;
    width: 100%;
    padding-top: 45px;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    & > img {
      width: 908px;
      height: 905px;
    }
  }
  & > h2 {
    font-size: 64px;
    background: linear-gradient(to bottom, #17bff0, #00317d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  & > p {
    font-size: 40px;
    font-family: $font-family;
    font-weight: 500;
    width: 738px;
  }
  &__card-box {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    & > div {
      background: $white;
      display: flex;
      flex-direction: row;
      align-items: start;
      box-shadow: 0 0 5px $lightblack;
      border-radius: 20px;
      width: 630px;
      height: 269px;
      & > img {
        height: 100px;
        width: 100px;
      }
      & > span {
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        & > h3 {
          font-size: 32px;
          font-weight: 500;
          font-family: $font-family;
        }

        & > p {
          font-family: $font-family;
          font-size: 24px;
          font-weight: 400;
          color: $lightblack;
        }
      }
    }
  }
}

.lets-get {
  margin-top: 409px;
  & > p {
    font-family: $font-family;
    font-size: 40px;
    color: $black;
    font-weight: 500;
  }
  &__buttons {
    margin-top: 101px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    width: 634px;
    & > button {
      height: 70px;
      width: 305px;
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid $lightblack;
      font-size: 32px;
      font-weight: 500;
      color: $black;
      cursor: pointer;
      font-family: $font-family;
      &:active {
        border-bottom: 5px solid $darkblue;
      }
    }
  }
  &__inputs-box {
    display: grid;
    grid-template-columns: 500px 500px;
    margin-top: 85px;
    width: 90%;
    & > div {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
  &__labels {
    font-size: 32px;
    font-weight: 500;
    font-family: $font-family;
    color: $black;
  }
  &__labels2 {
    margin-top: 50px;
    font-size: 32px;
    font-weight: 500;
    font-family: $font-family;
    color: $black;
  }
  &__inputs {
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 24px;
    padding: 0 35px 0 15px;
    width: 413px;
    height: 59px;
    border: 2px solid $darkblue;
    &::placeholder {
      color: $lightblack;
      text-align: center;
      font-size: 24px;
    }
  }
}

.file-input-container {
  position: relative;
  width: 413px;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 500;
  font-family: $font-family;
  color: $black;
}

.file-input-button {
  display: inline-block;
  padding: 15px 20px;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid $darkblue;
  border-radius: 5px;
  cursor: pointer;
}

.file-input {
  display: none;
}

.file-input-label {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

footer {
  position: relative;
  overflow: hidden;
  margin-top: -300px;
  display: flex;
  align-items: end;
  z-index: -1;
  justify-content: center;
  height: 869px;
  width: 100%;
}
.footer {
  position: absolute;
  top: -100px;
}

.footer-elements {
  padding-top: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  & > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    z-index: 1;
    & > span {
      justify-content: center;
      display: flex;
      width: 413px;
      padding-left: 20px;
      flex-direction: column;
      gap: 15px;
      & > h3 {
        font-size: 40px;
        font-weight: 500;
        font-family: $font-family;
        color: $white;
      }
      & > a {
        font-family: $font-family;
        color: $white;
        font-size: 24px;
        font-weight: 400;
      }
    }
    & > a {
      align-items: center;
      display: flex;
      z-index: 1;
      gap: 23px;
      padding-inline: 43px;
      border-right: 2px solid $white;
    }
  }
  & > h5 {
    padding-top: 30px;
    text-align: center;
    z-index: 1;
    font-weight: 400;
    font-size: 24px;
    font-family: $font-family;
    color: $white;
  }
}

//----------------MEDIA--------------//

@media (max-width: 1720px) {
  .container {
    max-width: 1300px;
  }
}

@media (max-width: 1470px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1400px) {
}

// For devices with a maximum width of 992px
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

// For devices with a maximum width of 768px
@media (max-width: 768px) {
}

// For devices with a maximum width of 576px
@media (max-width: 576px) {
}

// For devices with a maximum width of 480px
@media (max-width: 480px) {
}
