@import "./create-account";
@import "./business-info";
@import "./seller-edit";
@import "./adding-product";
@import "./email";
@import "./edit-password";
@import "./user-info";
@import "./adding-products_edit";

#button-inactive {
  font-size: 24px;
  grid-column: 2;
  font-family: $font-family;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: not-allowed;
  background: #555555;
}

$darkblue: #00317d;
$skyblue: #0384d8;
$oceanblue: #17bff0;
$black: #000;
$lightblack: #555555;
$gradient: linear-gradient(225deg, #17bff0 0%, #00317d 100%);

$white: #ffffff;

// fonts
@font-face {
  font-family: "Cunia", sans-serif;
  src: url("fonts/Cunia.otf") format("opentype");
}
$font-family: "Montserrat", sans-serif;
$second-family: "Inter", sans-serif;
$Cunia-family: "Cunia", sans-serif;
h1 {
  font-family: $Cunia-family;
  color: $darkblue;
}
h2 {
  font-family: $Cunia-family;
  font-size: 64px;
  font-weight: 700;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  // overflow: hidden;
}

.back-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1420px;
  margin: auto;
}

.what-v-do {
  padding-top: 140px;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  & > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    filter: blur(8px);
    transform: translateY(320px);
    animation: animaWhatWDo 0.5s linear 1 forwards;
    animation-delay: 0.5s;
  }
  &__line {
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background: $gradient;
    filter: blur(8px);
    transform: translateY(320px);
    animation: animaWhatWDo 0.5s linear 1 forwards;
    animation-delay: 0.5s;
  }
  & > span > h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: $font-family;
    filter: blur(8px);
    transform: translateY(320px);
    animation: animaWhatWDo 0.5s linear 1 forwards;
    animation-delay: 0.6s;
  }
  & > span > span {
    background: linear-gradient(to bottom, #17bff0, #00317d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 32px;
    font-weight: 500;
    font-family: $font-family;
    filter: blur(8px);
    transform: translateY(320px);
    animation: animaWhatWDo 0.5s linear 1 forwards;
    animation-delay: 0.7s;
  }
  & > h1 {
    font-size: 64px;
    width: 70%;
    filter: blur(20px);
    transform: translateY(350px);
    animation: animaWhatWDo 0.5s linear 1 forwards;
    animation-delay: 0.8s;
  }
  & > p {
    margin-top: 35px;
    font-size: 24px;
    font-family: $font-family;
    font-weight: 400;
    width: 738px;
    line-height: 29px;
    color: $lightblack;
    filter: blur(8px);
    transform: translateY(320px);
    animation: animaWhatWDo 0.5s linear 1 forwards;
    animation-delay: 0.9s;
  }
  &__elements {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    filter: blur(8px);
    transform: translateY(320px);
    animation: animaWhatWDo 0.5s linear 1 forwards;
    animation-delay: 1s;
  }

  &__btn {
    align-items: center;
    padding: 10px 22px;
    border-radius: 60px;
    gap: 10px;
    border: 2px solid $darkblue;
    font-size: 32px;
    font-weight: 400;
    font-family: $font-family;
    color: $white;
    background: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }

  &__btn:hover {
    background: $white;
    color: #00317d;
    transition: color 0.5s ease-in;
  }
  &__numbers {
    display: flex;
    align-items: center;
    gap: 20px;

    & > img {
      height: 48px;
      width: 48px;
    }
  }
  &__tell {
    display: flex;
    flex-direction: column;
    gap: 20px;
    & > p {
      font-size: 32px;
      font-family: $font-family;
      font-weight: 500;
    }
    & > a {
      font-size: 24px;
      font-weight: 400;
      font-family: $font-family;
      color: $black;
    }
  }
}

// animation what-w-do--------------------
@keyframes animaWhatWDo {
  to {
    filter: blur(0);
    transform: translateY(0);
  }
}

.what-v-do2 {
  position: relative;
  background: transparent;
  padding-top: 280px;
  &_elements {
    display: flex;
    flex-direction: row;
    gap: 100px;
    overflow: hidden;
    & > img {
      width: 413px;
      height: 543px;
      animation: showTwo 0.7s linear 1 forwards;
      transform: translateX(150%);
    }
  }

  &__text {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    & > h2 {
      font-size: 64px;
      font-family: $Cunia-family;
      font-weight: 700;
      color: $white;

      transform: translateX(-100%);
      animation: showTwo 1.5s linear 1 forwards;
    }
    & > h3 {
      font-size: 40px;
      font-weight: 700;
      font-family: $font-family;
      color: $white;

      transform: translateX(-100%);
      animation: showTwo 0.9s linear 1 forwards;
    }
    & > p {
      font-size: 32px;
      font-family: $font-family;
      font-weight: 500;
      width: 738px;
      color: $white;

      transform: translateX(-100%);
      animation: showTwo 0.5s linear 1 forwards;
    }
  }
}

@keyframes showTwo {
  to {
    transform: translateX(0px);
  }
}

.wave-back {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 190vh;
  width: 100%;
}

.wave-back::before {
  content: "";
  position: absolute;
  border-radius: 60px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../images/back-images/union.svg) no-repeat center;
  background-size: cover;
}

.fast-way {
  margin-top: -500px;
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  &__text {
    display: flex;
    flex-direction: column;
    gap: 66px;
    & > span {
      display: flex;
    }
    & > h2 {
      color: $black;
      font-size: 54px;
      font-weight: 700;
      filter: blur(10px);
      transform: translateX(100%);
      animation: fastShow 0.7s linear 1 forwards;
    }
    & > h2 > span {
      background: linear-gradient(to left, #17bff0, #00317d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

.list-dude {
  width: 700px;
  height: 739px;
  padding-top: 0px;
  filter: blur(10px);
  transform: translateY(100%);
  animation: listDude 0.7s linear 1 forwards;
}

@keyframes fastShow {
  to {
    transform: translateX(0);
    filter: blur(0px);
  }
}
@keyframes listDude {
  to {
    transform: translateY(0);
    filter: blur(0px);
  }
}

.our-mission {
  padding-top: 170px;
  position: relative;

  &__back {
    display: flex;
    width: 100%;
    padding-top: 45px;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    & > img {
      width: 908px;
      height: 905px;
    }
  }
  & > h2 {
    font-size: 64px;
    background: linear-gradient(to bottom, #17bff0, #00317d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  & > p {
    font-size: 40px;
    font-family: $font-family;
    font-weight: 500;
    width: 738px;
  }
  &__card-box {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    & > div {
      background: $white;
      display: flex;
      overflow: hidden;
      flex-direction: row;
      align-items: start;
      box-shadow: 0 0 5px $lightblack;
      border-radius: 20px;
      width: 630px;
      height: 269px;
      & > img {
        height: 100px;
        width: 100px;
      }
      & > span {
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        & > h3 {
          font-size: 32px;
          font-weight: 500;
          font-family: $font-family;
        }

        & > p {
          font-family: $font-family;
          font-size: 24px;
          font-weight: 400;
          color: $lightblack;
        }
      }
    }
  }
}

.lets-get {
  margin-top: 409px;
  & > p {
    font-family: $font-family;
    font-size: 40px;
    color: $black;
    font-weight: 500;
  }
  &__buttons {
    margin-top: 101px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    width: 634px;
    & > button {
      height: 70px;
      width: 305px;
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid $lightblack;
      font-size: 32px;
      font-weight: 500;
      color: $black;
      cursor: pointer;
      font-family: $font-family;
      &:active {
        border-bottom: 5px solid $darkblue;
      }
    }
  }
  &__inputs-box {
    display: grid;
    grid-template-columns: 500px 500px;
    align-items: flex-end;
    font-family: $font-family;
    margin-top: 85px;
    width: 90%;
    & > div {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  &__labels {
    font-size: 32px;
    font-weight: 500;
    font-family: $font-family;
    color: $black;
  }
  &__labels2 {
    margin-top: 50px;
    font-size: 32px;
    font-weight: 500;
    font-family: $font-family;
    color: $black;
  }
  &__inputs {
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 24px;
    padding: 0 35px 0 15px;
    width: 413px;
    height: 59px;
    border: 2px solid $darkblue;
    &::placeholder {
      color: $lightblack;
      text-align: center;
      font-size: 24px;
    }
  }
}

.file-input-container {
  position: relative;
  width: 413px;
  margin-top: 30px;
  font-size: 25px;
  font-weight: 500;
  font-family: $font-family;
  color: $black;
}

.file-input-button {
  display: inline-block;
  padding: 5px 20px;
  background-color: #ffffff;
  color: #555555;
  border: 2px solid $darkblue;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}

.file-input {
  display: none;
}

.file-input-label {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

.choose {
  display: flex;
  gap: 50px;
}

.choose_btn {
  position: relative;
  display: flex;
  gap: 2px;
  align-items: center;
  padding: 20px 22px;
  border-radius: 60px;
  border: 2px solid $darkblue;
  font-size: 24px;
  font-weight: 400;
  font-family: $font-family;
  color: $darkblue;
  background: transparent;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;

  &_btn:hover {
    color: white;
  }
  &_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    left: unset;
    right: 0;
    border-radius: 60px;
    width: 0%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(225deg, #17bff0 0%, #00317d 100%);
    transition: 0.4s all ease-in-out 0s;
  }

  &_btn:hover::before {
    left: 0;
    right: unset;
    width: 100%;
  }
  &_btn:hover .bx {
    transition: color 0.3s;
  }
}

//404-page
.err-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  margin-bottom: 200px;
  gap: 20px;
  & > span {
    font-size: 24px;
    font-family: $font-family;
  }
}

.go-home {
  font-size: 24px;
  border: 2px solid #00317d;
  color: #00317d;
  border-radius: 50px;
  padding: 5px 20px;
  font-family: $Cunia-family;
  transition: 0.4s;
}
.go-home:hover {
  color: #ffffff;
  background-color: #00317d;
  box-shadow: 0 0 5px black;
}

//----------------MEDIA--------------//

@media (max-width: 1880px) {
  .what-v-do2 {
    padding-top: 300px;
    &_elements {
      padding-top: 50px;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
    }

    &__text {
      gap: 30px;
    }
  }
}
@media (max-width: 1720px) {
  .container {
    max-width: 1300px;
  }
  .what-v-do2 {
    &_elements {
      padding-top: 60px;
      gap: 20px;
      & > img {
        width: 330px;
        height: 434px;
      }
    }

    &__text {
      gap: 20px;
    }
  }

  .err-page {
    margin-bottom: 100px;
  }

  footer {
    margin-top: -200px;
  }
}

@media (max-width: 1600px) {
  .what-v-do2 {
    padding-top: 400px;
  }
  .fast-way {
    gap: 50px;
    margin-top: -300px;
  }
}

@media (max-width: 1470px) {
  .container {
    max-width: 1140px;
  }

  .what-v-do2__text {
    & > h2 {
      font-size: 51px;
    }
    & > h3 {
      font-size: 32px;
    }
    & > p {
      font-size: 24px;
    }
  }

  .what-v-do2_elements > img {
    width: 264px;
    height: 347px;
  }

  .list-dude {
    width: 560px;
    height: 591px;
  }

  .our-mission__card-box > div {
    width: 504px;
    height: 315px;
  }
  .footer {
    position: absolute;
    top: -50px;
  }
}

@media (max-width: 1400px) {
  .what-v-do2 {
    padding-top: 460px;
  }

  .wave-back {
    height: 190vh;
  }

  .fast-way__text > h2 {
    font-size: 51px;
  }

  .our-mission {
    & > h2 {
      font-size: 51px;
    }
    & > p {
      font-size: 32px;
    }
  }

  .lets-get {
    & > h2 {
      font-size: 51px;
    }
    & > p {
      font-size: 32px;
    }
    &__inputs-box {
      grid-template-columns: 450px 500px;
    }
  }
}

@media (max-width: 1370px) {
  .what-v-do2_elements {
    align-items: center;
    padding-right: 105px;
  }
  .what-v-do2__text {
    & > h3 {
      font-size: 24px;
    }
    & > p {
      font-size: 19px;
      width: 100%;
    }
  }

  .wave-back {
    height: 210vh;
    margin-top: -100px;
  }

  .phone-box {
    &__icon {
      height: 48px * 0.8;
      width: 48px * 0.8;
    }
    &__numbers > a {
      font-size: 19px;
    }
  }

  .company {
    font-size: 19px;
  }

  .what-v-do {
    &__tell {
      gap: 15px;
      & > p {
        font-size: 24px;
      }
      & > a {
        font-size: 19px;
      }
    }
    & > span > h3 {
      font-size: 24px;
    }
    & > h1 {
      font-family: $Cunia-family;
      font-size: 51px;
    }
    & > p {
      font-size: 19px;
    }
  }

  .our-mission {
    &__card-box {
      gap: 30px;
      & > div {
        width: 403px;
        height: 252px;
        & > span {
          & > h3 {
            font-size: 24px;
          }
          & > p {
            font-size: 19px;
          }
        }
      }
    }
    & > p {
      font-size: 24px;
    }
  }

  .lets-get {
    &__buttons > button {
      font-size: 24px;
      height: 56px;
      width: 244px;
    }
    &__inputs-box {
      align-items: flex-end;
      grid-template-columns: 400px 500px;
    }
    &__labels {
      font-size: 24px;
      align-self: flex-start;
    }
    &__inputs {
      display: flex;
      align-items: center;
      font-size: 19px;
      width: 330px;
      height: 47px;
    }

    & > p {
      font-size: 24px;
    }
  }
  .file-input-button {
    display: flex;
    align-items: center;
    width: 330px;
    height: 47px;
  }

  .footer-elements > h5 {
    font-size: 24px;
  }

  .footer-elements > div > span {
    & > h3 {
      font-size: 24px;
    }
    & > a {
      font-size: 19px;
    }
  }
  .footer-elements > div {
    & > a > img {
      width: 100%;
      height: 110px * 0.8;
    }
  }
  .footer {
    padding-top: 100px;
  }
}

// For devices with a maximum width of 992px
@media (max-width: 1220px) {
  .container {
    max-width: 990px;
  }
  .what-v-do2__text {
    & > h3 {
      font-size: 24px * 0.8;
    }
    & > p {
      font-size: 19px * 0.8;
      width: 100%;
    }
  }

  .what-v-do2_elements > img {
    width: 211px;
    height: 277px;
  }

  .footer-elements > div {
    margin-left: 100px;
  }

  .footer {
    padding-top: 200px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

// For devices with a maximum width of 768px
@media (max-width: 768px) {
}

// For devices with a maximum width of 576px
@media (max-width: 576px) {
}

// For devices with a maximum width of 480px
@media (max-width: 480px) {
}
